* {
    background-color: rgb(219, 233, 183);
    /*background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('./assets/background.jpg') no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover; */
    font-family: "Libre Baskerville", sans-serif;
    padding: 0 ;
  }